@import "../../App";
@import "../../components/InputFields/styles";

.home-container {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .home-button {
    background-color: $primary-orange;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    color: white;
    width: 30%;
    padding: 20px;
    font-size: 17px;
    text-align: center;
    letter-spacing: 1px;

    &:hover {
      background-color: $primary-orange-dark;
    }
  }
}
