@import "../../../App";
@import "../templates_styles";

.defaultBlueTemplate-container {

  .section-header-container {
    background-color: map_get($default-blue, primary);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-spacing: 15px 9px !important;
    //width: 100% !important;

    .section-header {
      color: white !important;
    }

  }

  .section {
    width: 608px !important;

  }
}