@import "../../App";

.allDetails-container {

  .resume-template-button-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    margin: auto;
  }

}
