@import '../../App';

.educationInformation-container {
  .education-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .educationFields-container {
      flex-basis: 100%;
    }

    .close-container {
      flex-basis: 5%;
      //width: 100%;
      text-align: center;
    }
  }
}