@import "../../../App";
@import "../templates_styles";

.workExperienceInformationView {
  .workExperience-container {
    .companyNamePositionDuration-container {
      .companyNamePosition {

      }

      .duration {

      }
    }

    .responsibilities {
      text-align: justify;
    }

    .location {

    }
  }

  &.default-blue, &.default-gray, &.modern-red {

    .workExperience-container {
      border-bottom: thin solid $grey-dark-bb;
      font-size: 1.2em;

      .companyNamePositionDuration-container {
        font-size: 1.05em;

        .companyNamePosition {
          font-weight: bold;
          width: 70%;
        }

        .duration {
          text-align: right;
          font-style: italic;
          font-size: 0.85em;
        }
      }

      .responsibilities {
      }

      .location {
        text-align: right;
        font-style: italic;
        line-height: 20px;
      }
    }

  }

  &.modern-red {
    .workExperience-container {
      .companyNamePositionDuration-container {
        font-size: 1.03em;
        padding: 3px 0;

        .duration {
          color: map_get($modern-red, primary);
          font-size: 0.7em;
        }
      }
    }
  }
}
