@import "../../../App";
@import "../templates_styles";

.personalInformationView-container {
  .personalInformation-container {

    .key {
    }

    .value {
    }

    .dob {

    }

    .location {
    }

    .contact {
    }

    .website {
    }

    .socialMediaLinks {
    }
  }

  &.default-blue, &.default-gray, &.modern-red {
    .personalInformation-container {
      font-size: 1.2em;

      .key {
        font-weight: bold;
      }

      .value {
      }

      .dob {

      }

      .location {
      }

      .contact {
      }

      .website {
      }

      .socialMediaLinks {
      }
    }
  }

  &.modern-red {
    .personalInformation-container {
      font-size: 0.9em;

      .dob, .location, .contact, .website, .socialMediaLinks {
        line-height: 20px;
      }

      .personalInformation-icon {
        width: 15px;
        padding-right: 5px;
      }
    }
  }
}
