@import "../../App";

%left-pannel-bookmark {
  width: auto !important;

  div {
    width: 40px;
    height: 55px;
    margin: 0 1px 0 0;
  }
}

$solid-blue: (
        primary:#509edc,
        primary-dark: #425a70
);

$default-blue: (
        primary: #0a96c3,
        primary-dark: #425a70
);

$default-gray: (
        primary: #34495e,
        primary-dark: #2c3e50
)
