@import "../../App";

.universalTabs-container {
  width: 80%;
  margin: 15px auto;

  .tabs {

    .tabsHeader-container {
      display: flex;
      justify-content: space-around;

      .tabHeader {
        line-height: 40px;
        cursor: pointer;
        width: 100%;
        border-radius: $border-radius;
        transition: $transition-time;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .tabHeader:hover {
        background-color: $primary-teal-greyed-out;
      }
    }
  }
}
