@import "../../../App";
@import "../templates_styles";

.educationInformationView-container {
  //width: 100%;

  .education-container {

    .type {
    }

    .durationScore-container {

      .duration, .score {
      }

      .score {
      }
    }

    .course-container {
      .course-header {
      }

      .course {
        ul {
        }
      }
    }
  }

  &.solid-blue {

    .education-container {
      .durationScore-container {
        .duration, .score {
          text-align: right;
        }
      }
    }

  }

  &.default-blue, &.default-gray {

    .education-container {
      line-height: 20px;
      font-size: 1.2em;
      border-bottom: thin solid $grey-dark-bb;

      .type {
        text-transform: capitalize;
        font-size: 1.05em;
        font-weight: bold;
      }

      .durationScore-container {

        .duration, .score {
          font-style: italic;
          font-size: 0.85em;
        }

        .score {
          text-align: right;
        }
      }

      .course-container {
        .course-header {
          font-style: italic;
        }

        .course {
          ul {
            margin: 10px 0;
            list-style: none;
          }
        }
      }
    }
  }
}
