@import "../../App";

.workExperienceInformation-container {
  @extend %formFields-container;

  .workExperience {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: thin solid $grey-dark-bb;
    padding-bottom: 10px;

    .workExperienceFields-container {
      flex-basis: 100%;
    }

    .close-container {
      flex-basis: 5%;
      //width: 100%;
      text-align: center;
    }
  }
}