@import "../../../App";
@import "../templates_styles";

.projectInformationView {
  .project-container {
    .nameDuration-container {
      .name {

      }

      .duration {

      }
    }

    .summary {
      text-align: justify;
    }

    .link-container {

    }
  }

  &.default-blue, &.default-gray, &.modern-red {

    .project-container {
      border-bottom: thin solid $grey-dark-bb;
      font-size: 1.2em;

      .nameDuration-container {
        font-size: 1.05em;

        .name {
          font-weight: bold;
          width: 70%;
        }

        .duration {
          text-align: right;
          font-style: italic;
          font-size: 0.85em;
        }
      }

      .summary {
      }

      .link-container {
        text-align: right;
        font-style: italic;
        line-height: 20px;
      }
    }

  }

  &.modern-red {
    .project-container {
      .nameDuration-container {
        font-size: 1.03em;
        padding: 3px 0;

        .duration {
          color: map_get($modern-red, primary);
          font-size: 0.7em;
        }
      }
    }
  }
}
