@import "../../../App";
@import "../templates_styles";

.projectInformationView-container {
  .project-container {

    .nameDuration-container {
      .name {

      }

      .duration {

      }

    }

    .summary {

    }

    .link {

    }

  }

  &.default-blue, &.default-gray, &.modern-red {
    .project-container {

      border-bottom: thin solid $grey-dark-bb;
      font-size: 1.2em;

      .nameDuration-container {
        font-size: 1.05em;

        .name {
          font-weight: bold;
        }

        .duration {
          text-align: right;
          font-style: italic;
          font-size: 0.85em;
        }

      }

      .summary {
        text-align: left;
      }

      .link {

      }

    }
  }

}
