@import "../../../App";
@import "../templates_styles";

.educationInformationView-container {
  //width: 100%;

  table{
    margin: 0;
    padding: 0;
  }

  .education-container {
    line-height: 23px;
    margin: 7px 2px;
    font-size: 1.5em;
    border-bottom: thin solid $grey-dark-bb;

    .type {
      text-transform: capitalize;
      font-size: 1.05em;
      font-weight: bold;
    }

    .durationScore-container {
     /* display: flex;
      justify-content: space-between;
      align-items: center;*/

      .duration, .score {
        font-style: italic;
        font-size: 0.9em;
        text-align: right;
      }
    }

    .course-container {
      .course-header {
        font-style: italic;
      }

      .course {
        ul {
          margin: 10px 0;
          list-style: none;
        }
      }
    }
  }
}

.educationInformationView-container.solid-blue{

}