@import "../../../App";
@import "../templates_styles";

.summary-container {

  .summary {
    text-align: justify;
  }

  &.default-blue, &.default-gray {

    .summary {
      font-size: 1.2em;
    }

  }

  &.modern-red {
    .summary {
      padding: 0 2px;
      font-size: 1.2em;
    }
  }
}
