@import "../../../App";
@import "../templates_styles";
@import "../SolidBlueTemplate/styles";

.resumeHeader {
  &.solid-blue {
    border-bottom: 3px solid map_get($solid-blue, primary);

    .name {
      color: map-get($solid-blue, primary-dark)
    }

    .useravatar-container {
      img {
        border: 5px solid map_get($solid-blue, primary);
        border-radius: 500%;
      }
    }

    .contactInformation-container {
      .email, .phone, .location, .dob, .website, .socialMedia {
        line-height: 18px;

        .value {
          font-style: italic;
          font-size: 0.9em;
          text-align: right;
        }

        .icon {
          color: map_get($solid-blue, primary-dark)
        }
      }
    }

    .left-pannel-bookmark {
      div {
        background-color: map_get($solid-blue, primary-dark);
      }
    }
  }

  &.default-blue {
    .name {
      font-size: 3em;
      color: map_get($default-blue, primary);
      font-weight: bold;
    }

    .useravatar-container {
      width: auto !important;

      img {
        width: 100px;
        margin: 3px 7px;
      }
    }
  }

  &.default-gray {
    .name {
      font-size: 3em;
      color: map_get($default-gray, primary);
      font-weight: bold;
    }

    .useravatar-container {
      width: auto !important;

      img {
        width: 100px;
        margin: 3px 7px;
      }
    }
  }

  &.modern-red {
    .useravatar-container {
      img {
        width: 100px;
        border: 2px solid map_get($modern-red, primary);
        border-radius: 100px 100px 0 100px;
        padding: 2px;
        overflow: hidden;
        background-color: opacify(map_get($modern-red, cream-yellow), 0.7);
      }
    }

    .userDetails-container {
      .name {
        display: block;
        font-size: 3.4em;
        letter-spacing: 2px;
        border-bottom: thin solid $grey-dark-bb;
        color: map_get($modern-red, primary-dark);
      }

      .contactNumber, .email, .phone, .location, .tag {
        text-align: right;
      }

      .tag {
        font-size: 1.05em;
        line-height: 20px;
      }

      .contactNumber {
      }

      .email {
      }

      .location {
      }
    }
  }

}
