@import "../../../App";
@import "../templates_styles";
@import "../SolidBlueTemplate/styles";

.resumeHeader {
  &.solid-blue {
    border-bottom: 3px solid map_get($solid-blue, primary);

    .name {
      color: map-get($solid-blue, primary-dark)
    }

    .useravatar-container {
      img {
        border: 5px solid map_get($solid-blue, primary);
        border-radius: 500%;
      }
    }

    .contactInformation-container {
      .email, .phone, .location, .dob, .website, .socialMedia {
        line-height: 18px;

        .value {
          font-style: italic;
          font-size: 0.9em;
          text-align: right;
        }

        .icon {
          color: map_get($solid-blue, primary-dark)
        }
      }
    }

    .left-pannel-bookmark {
      div {
        background-color: map_get($solid-blue, primary-dark);
      }
    }
  }

  &.default-blue {
    .name {
      font-size: 3em;
      color: map_get($default-blue, primary);
      font-weight: bold;
    }

    .useravatar-container {
      width: auto !important;

      img {
        width: 100px;
        margin: 3px 7px;
      }
    }
  }

  &.default-gray {
    .name {
      font-size: 3em;
      color: map_get($default-gray, primary);
      font-weight: bold;
    }

    .useravatar-container {
      width: auto !important;

      img {
        width: 100px;
        margin: 3px 7px;
      }
    }
  }


}
