@import "../../../App";
@import "../templates_styles";
@import "../SolidBlueTemplate/styles";

.resumeHeader {
  &.solid-blue {
    border-bottom: 3px solid map_get($solid-blue, primary);

    .name {
      color: map-get($solid-blue, primary-dark)
    }

    .useravatar-container {
      img {
        border: 5px solid map_get($solid-blue, primary);
        border-radius: 500%;
      }
    }

    .contactInformation-container {
      .email, .phone, .location, .dob, .website, .socialMedia {
        line-height: 18px;

        .value {
          font-style: italic;
          font-size: 0.9em;
          text-align: right;
        }

        .icon {
          color: map_get($solid-blue, primary-dark)
        }
      }
    }

    .left-pannel-bookmark {
      div {
        background-color: map_get($solid-blue, primary-dark);
      }
    }
  }

  &.default-blue {
    .name {
      font-size: 3em;
      color: map_get($default-blue, primary);
      font-weight: bold;
    }

    .useravatar-container {
      width: auto !important;

      .userAvatarImage-container {
        margin: 3px 7px;

        img {
          width: 100%;
        }
      }
    }
  }

  &.default-gray {
    .name {
      font-size: 3em;
      color: map_get($default-gray, primary);
      font-weight: bold;
    }

    .useravatar-container {
      width: auto !important;

      .userAvatarImage-container {
        margin: 3px 7px;

        img {
          width: 100%;
        }
      }
    }
  }

  &.modern-red {
    position: relative;

    .header-design {
      position: absolute;
      width: 860px;
      height: 135px;
      background-image: url("/assets/images/modern-red/modern-red-header-02.png");
      background-repeat: no-repeat;
      background-size: 860px;
      z-index: -1;
      top: 0;
    }

    .useravatar-container, .userDetails-container {
      padding-top: 50px;
    }

    .useravatar-container {
      .userAvatarImage-container {
        border: 4px solid map_get($modern-red, primary);
        border-radius: 100px 100px 0 100px;

        img {
          width: 100%;
        }
      }
    }

    .userDetails-container {
      .name {
        display: block;
        font-size: 3.4em;
        letter-spacing: 2px;
        border-bottom: thin solid $grey-dark-bb;
        color: map_get($modern-red, primary-dark);
      }

      .contactNumber, .email, .phone, .location, .tag {
        text-align: right;
      }

      .tag {
        font-size: 1.05em;
        line-height: 20px;
      }

      .contactNumber {
      }

      .email {
      }

      .location {
      }
    }
  }

  .userAvatarImage-container {
    display: inline-block;
    width: 100px;
    height: 110px;
    overflow: hidden;
  }

}
