//basic colors
$light-blue-grey: #d7f3f3;
$greyish-brown: #424242;
$salmon: #ff6d6d;
$dusk: #4a5977;
$bluey-grey: #99a1b2;
$greyish-brown-two: #414141;
$black: #000000;

//primary colors
$primary-teal-brightest: #17c0c3;
$primary-teal-medium: #45ceca;
$primary-teal-greyed-out: #d7f3f3;
$primary-reddish: #fc5a5c;
$primary-yellowish: #ffb400;
$primary-yellowish-dark: #cb8c00;


//backgrounds and borders
$grey-dark-bb: #dbdbdb;
$grey-medium-bb: #ebebeb;
$grey-light-bb: #f3f3f3;

//text
$grey-dark-text: #565555;
$grey-medium-text: #6c6e6e;
$grey-light-text: #999999;

//other properties
$transition-time: 0.3s;
$border-radius: 3px;

//deprecated
//$primary-color: #19c0c2;
////$primary-color-light: rgba(25, 192, 194, 0.84);
//$secondary-color: #FF9800;
//$secondary-color-dark: #df8000;
//$background-color: #fafafa;
//$black: #8d8d8d;

%formFields-container {
  border: thin solid whitesmoke;
  padding: 20px;
  border-radius: $border-radius;
  -webkit-box-shadow: 2px 2px 12px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 12px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 12px -9px rgba(0, 0, 0, 0.75);

  input, textarea {
    margin: 10px 0;
  }
}

.cancel {
  margin: 0 6px 0 10px;
  cursor: pointer;
  transition: $transition-time;
}

.cancel:hover {
  color: $primary-yellowish;
}


.multiple-instances {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: thin solid $grey-dark-bb;
  padding-bottom: 10px;

  &-fields {
    flex-basis: 100%;
  }

  &-close-container {
    flex-basis: 5%;
    //width: 100%;
    text-align: center;
  }
}


