@import "../../../App";
@import "../templates_styles";
@import "../SolidBlueTemplate/styles";

.resumeHeader {

  .name {
    text-transform: capitalize;
    font-size: 2.2em;
    width: 100%;
  }

  .tags.tag{
      font-style: italic;
      line-height: 20px;
  }

  .objective {
    font-size: 1.05em;
    line-height: 17px;
  }

  .useravatar-container {
    img {
      width: 100px;
      border: 5px solid map_get($solid-blue, primary);
      border-radius: 500%;
    }
  }

  .contactInformation-container {
    .email, .phone, .location, .dob, .website, .socialMedia {
      display: flex;
      width: 100%;
      align-items: flex-start;
      justify-content: space-between;

      .value {
        width: 100%;
      }

      .icon {
        margin: 0 0 0 2px;
        //flex-basis: 5%;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

 /* .left-pannel-bookmark {
    @extend %left-pannel-bookmark;
  }*/
}

.resumeHeader.solid-blue {
  border-bottom: 3px solid map_get($solid-blue, primary);

  .name {
    color: map-get($solid-blue, primary-dark)
  }

  .contactInformation-container {
    .email, .phone, .location, .dob, .website, .socialMedia {
      line-height: 18px;

      .value {
        font-style: italic;
        font-size: 0.9em;
        text-align: right;
      }

      .icon {
        color: map_get($solid-blue, primary-dark)
      }
    }
  }

  .left-pannel-bookmark {
    div {
      background-color: map_get($solid-blue, primary-dark);
    }
  }
}